<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2" >
  <session-factory>
    <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
    <property name="dialect">NHibernate.Dialect.MsSql2000Dialect</property>
    <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
    <property name="connection.connection_string">Data Source=192.168.1.131\SQLEXPRESS;Initial Catalog=NHibernate_test1;User ID=sa;Password=Att1234$$</property>
    
    <mapping assembly="NhibernateTutorial"/>
  </session-factory>
</hibernate-configuration>